<div class="modal modal-blur fade" id="modal-testimonial" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Testimonial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Customer</label>
                    <input type="text" class="form-control" name="testimonial-customer" id="testimonial-customer"
                        placeholder="Input your partner name" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label">Profile</label>
                    <img src="" class="w-100 h-100 object-cover card-img-end" id="preview-image-testimonial" hidden>
                    <input type="file" accept="image/png, image/jpeg, image/webp, image/jpg" class="form-control" name="image-input-testimonial" id="image-input-testimonial" placeholder="Upload Foto Profil">
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <input type="text" class="form-control" name="testimonial-content" id="testimonial-content"
                        placeholder="Isi komentar" value="">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-link link-secondary" data-bs-dismiss="modal-testimonial" id="close-btn-testimonial">
                    Cancel
                </a>
                <a class="btn btn-primary ms-auto" id="submit-testimonial-btn">
                    Save
                </a>
            </div>
        </div>
        <div class="progress progress-md" id="loading-testimonial" hidden>
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
    </div>

    <script>
        const imageInputTestimonial = document.getElementById('image-input-testimonial');
        const closeBtnTestimonial = document.getElementById('close-btn-testimonial');
        const previewImageTestimonial = document.getElementById('preview-image-testimonial');
        const submitBtnTestimonial = document.getElementById('submit-testimonial-btn');
        const loadingTestimonial = document.getElementById('loading-testimonial');
        
        imageInputTestimonial.addEventListener('change', function (event) {
            loadingTestimonial.hidden = false;
            const reader = new FileReader();
            const file = event.target.files[0];
            
            reader.onload = function (e) {
                previewImageTestimonial.src = e.target.result;
                previewImageTestimonial.hidden = false;
            };
            
            if (file) {
                reader.readAsDataURL(file);
                imageInputTestimonial.hidden = true;
                loadingTestimonial.hidden = true;
            }
        });
        
        closeBtnTestimonial.addEventListener('click', function (event) {
            document.getElementById('testimonial-customer').value = '';
            document.getElementById('testimonial-content').value = '';
            previewImageTestimonial.src = '';
            previewImageTestimonial.hidden = true;
            imageInputTestimonial.value = '';
            imageInputTestimonial.hidden = false;
            loadingTestimonial.hidden = true;
        });
        
        submitBtnTestimonial.addEventListener('click', function (event) {
            loadingTestimonial.hidden = false;
            event.preventDefault();  
            
            const formData = new FormData();
            const testimonialCustomer = document.getElementById('testimonial-customer').value;
            const testimonialContent = document.getElementById('testimonial-content').value;
            formData.append('testimonial-customer', testimonialCustomer);
            formData.append('testimonial-content', testimonialContent);
            
            const inputFileTestimonial = document.getElementById('image-input-testimonial').files[0];
            if (inputFileTestimonial) {
                formData.append('testimonial-image', inputFileTestimonial);                
            }
                fetch(mLink.addTestimonial, {  // Ganti '/upload/' dengan URL path Django Anda
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfToken,  // Untuk menambahkan CSRF token
                    },
                }).then(response => {
                    if (response.status === 200) {
                        return response.json();  // Jika status 200, konversi ke JSON
                    } else {
                        throw new Error('Terjadi kesalahan: ' + response.status);  // Jika bukan 200, lempar error
                    }
                })
                .then(data => {
                    if (data.status) {
                        loadingTestimonial.hidden = true;
                        const message = data.data.msg;  // Ambil message dari response                        
                        alert(message);  // Menampilkan pesan ke user
                        window.location.href = mLink.menuContentManagements;
                    } else {
                        alert('Error: ', data);  // Menangani response er
                        loadingTestimonial.hidden = true;
                    }
                })
                .catch((error) => {
                    alert('Internal server error: ', error.message);  // Menampilkan alert jika ada kesalahan
                    loadingTestimonial.hidden = true;
                });
        });

    </script>

</div>