<div class="modal modal-blur fade" id="modal-testimonial" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Testimonial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Customer</label>
                    <input type="text" class="form-control" name="testimonial-customer" id="testimonial-customer"
                        placeholder="Input your partner name" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label">Profile</label>
                    <img src="" class="w-100 h-100 object-cover card-img-end" id="preview-image-testimonial" hidden>
                    <input type="file" accept="image/png, image/jpeg, image/webp, image/jpg" class="form-control" name="image-input-testimonial" id="image-input-testimonial" placeholder="Upload Foto Profil">
                </div>
                <div class="mb-3">
                    <label class="form-label">Image Banner</label>
                    <img src="" class="w-100 h-100 object-cover card-img-end" id="preview-image-banner" hidden>
                    <input type="file" accept="image/png, image/jpeg, image/webp, image/jpg" class="form-control" name="image-input-banner" id="image-input-banner" placeholder="Upload Foto banner">
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <input type="text" class="form-control" name="testimonial-content" id="testimonial-content"
                        placeholder="Isi komentar" value="">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-link link-secondary" data-bs-dismiss="modal-testimonial" id="close-btn-testimonial">
                    Cancel
                </a>
                <a class="btn btn-primary ms-auto" id="submit-testimonial-btn">
                    Save
                </a>
            </div>
        </div>
        <div class="progress progress-md" id="loading-testimonial" hidden>
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
    </div>

    <script>
        const closeBtnTestimonial = document.getElementById('close-btn-testimonial');
        const imageInputTestimonial = document.getElementById('image-input-testimonial');
        const previewImageTestimonial = document.getElementById('preview-image-testimonial');
        const imageInputBanner = document.getElementById('image-input-banner');
        const previewImageBanner = document.getElementById('preview-image-banner');
        const submitBtnTestimonial = document.getElementById('submit-testimonial-btn');
        const loadingTestimonial = document.getElementById('loading-testimonial');
        
        imageInputTestimonial.addEventListener('change', function (event) {
            loadingTestimonial.hidden = false;
            const reader = new FileReader();
            const file = event.target.files[0];
            
            reader.onload = function (e) {
                previewImageTestimonial.src = e.target.result;
                previewImageTestimonial.hidden = false;
            };
            
            if (file) {
                reader.readAsDataURL(file);
                imageInputTestimonial.hidden = true;
                loadingTestimonial.hidden = true;
            }
        });

        imageInputBanner.addEventListener('change', function (event) {
            loadingTestimonial.hidden = false;
            const reader = new FileReader();
            const file = event.target.files[0];
            
            reader.onload = function (e) {
                previewImageBanner.src = e.target.result;
                previewImageBanner.hidden = false;
            };
            
            if (file) {
                reader.readAsDataURL(file);
                imageInputBanner.hidden = true;
                loadingTestimonial.hidden = true;
            }
        });
        
        closeBtnTestimonial.addEventListener('click', function (event) {
            document.getElementById('testimonial-customer').value = '';
            document.getElementById('testimonial-content').value = '';
            previewImageTestimonial.src = '';
            previewImageTestimonial.hidden = true;
            imageInputTestimonial.value = '';
            imageInputTestimonial.hidden = false;
            loadingTestimonial.hidden = true;
        });
        
        submitBtnTestimonial.addEventListener('click', function (event) {
            loadingTestimonial.hidden = false;
            event.preventDefault();  
            
            const formData = new FormData();
            const testimonialCustomer = document.getElementById('testimonial-customer').value;
            const testimonialContent = document.getElementById('testimonial-content').value;
            formData.append('testimonial-customer', testimonialCustomer);
            formData.append('testimonial-content', testimonialContent);
            
            const inputFileTestimonial = document.getElementById('image-input-testimonial').files[0];
            if (inputFileTestimonial) {
                formData.append('testimonial-image', inputFile);    
            }
            const inputFileBanner = document.getElementById('image-input-banner').files[0];
            if (inputFileTestimonial) {
                formData.append('testimonial-banner-image', inputFile);    
            }

            fetchManager.post(mLink.addTestimonial, formData)
                .then(response => {
                    const message = response.data.msg;
                    if (response.status === true) {                     
                        loadingTestimonial.hidden = true;
                        alert(message);
                        window.location.href = mLink.menuContentManagement;
                    } else {
                        alert(message);
                    }
                    loading.hidden = true;
                });
        });

    </script>

</div>