<div class="modal modal-blur fade" id="modal-product" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Product Name</label>
                    <input type="text" class="form-control" name="product-name" id="product-name"
                        placeholder="Input your product name" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <img src="" class="w-100 h-100 object-cover card-img-end" id="product-preview-image" hidden>
                    <input type="file" accept="image/png, image/jpeg, image/webp, image/jpg" class="form-control" name="product-image-input" id="product-image-input" placeholder="Upload Foto Profil">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control" name="product-price" id="product-price"
                        placeholder="Harga" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" name="product-description" id="product-description"
                        placeholder="Isi komentar" value="">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-link link-secondary" data-bs-dismiss="modal" id="close-btn-product">
                    Cancel
                </a>
                <a class="btn btn-primary ms-auto" id="product-submit-btn">
                    Save
                </a>
            </div>
        </div>
        <div class="progress progress-md" id="loading-product" hidden>
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
    </div>

    <script>
        const imageInputProduct = document.getElementById('product-image-input');
        const closeBtnProduct = document.getElementById('close-btn-product');
        const imagePreviewProduct = document.getElementById('product-preview-image');
        const submitBtnProduct = document.getElementById('product-submit-btn');
        const loadingProduct = document.getElementById('loading-product');
        
        imageInputProduct.addEventListener('change', function (event) {
            loadingProduct.hidden = false;
            const reader = new FileReader();
            const file = event.target.files[0];
            
            reader.onload = function (e) {
                imagePreviewProduct.src = e.target.result;
                imagePreviewProduct.hidden = false;
            };
            
            if (file) {
                reader.readAsDataURL(file);
                imageInputProduct.hidden = true;
                loadingProduct.hidden = true;
            }
        });
        
        closeBtnProduct.addEventListener('click', function (event) {
            imagePreviewProduct.src = '';
            imagePreviewProduct.hidden = true;
            imageInputProduct.value = '';
            imageInputProduct.hidden = false;
            loadingProduct.hidden = true;
        });
        
        submitBtnProduct.addEventListener('click', function (event) {
            event.preventDefault();  
            loadingProduct.hidden = false;
            const formData = new FormData();
            formData.append('product-name', document.getElementById('product-name').value);
            formData.append('product-price', document.getElementById('product-price').value);
            formData.append('product-description', document.getElementById('product-description').value);
                        
            const inputFile = document.getElementById('product-image-input').files[0];
            if (inputFile) {
                formData.append('product-image', inputFile);    
            }
            fetchManager.post(mLink.addProduct, formData)
                .then(response => {
                    const message = response.data.msg;
                    if (response.status === true) {
                        alert(message);
                        window.location.href = mLink.menuContentManagement;
                    } else {
                        alert(message);
                    }
                    loading.hidden = true;
                });
        });

    </script>

</div>