{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{app_alias_name}} - {{sub_description}}</title>
  <link rel="shortcut icon" href="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/logo.png" type="image/png">
  <!--
    - custom css link 
  -->
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
  <link rel="stylesheet" href="{% static 'css/landing-media-query.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
  <a href="https://wa.me/{{phone_number}}" class="whatsapp-button" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
  <!--
    - main container
  -->

  <div class="container">

    <!--
      - #HEADER
    -->

    <header>

      <nav class="navbar">

        <div class="navbar-wrapper">

          <a href="#">
            <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/logo.png" alt="logo" width="130">
          </a>

          <ul class="navbar-nav">

            <li>
              <a href="#home" class="nav-link">Home</a>
            </li>

            <li>
              <a href="#services" class="nav-link">Services</a>
            </li>

            <li>
              <a href="#menu" class="nav-link">Our Menu</a>
            </li>

            <li>
              <a href="#testimonials" class="nav-link">Testimonials</a>
            </li>

          </ul>

          <div class="navbar-btn-group">

            <button class="menu-toggle-btn">
              <span class="line one"></span>
              <span class="line two"></span>
              <span class="line three"></span>
            </button>

          </div>

        </div>

      </nav>

    </header>





    <main>

      <!--
        - #HOME SECTION
      -->

      <section class="home" id="home">

        <div class="home-left">

          <p class="home-subtext">Hi, Buddy!</p>

          <h1 class="main-heading">{{ description }}</h1>

          <p class="home-text">
            {{sub_description}}
          </p>

          <div class="btn-group">

            <button class="btn btn-primary btn-icon">
              <i class="fas fa-hamburger"></i>
              Lihat Menu
            </button>

          </div>

        </div>

        <div class="home-right">

          <img src="{% static 'image/banner-1.png' %}" alt="food image" class="food-img food-3" width="200"
            loading="lazy">
          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/dialog.svg" alt="dialog" class="dialog dialog-1" width="200" loading="lazy">

        </div>
      </section>



      <!--
        - #SERVICES SECTION
      -->

      <section class="services" id="services">
        
        <div class="service-card">

          <p class="card-number">01</p>

          <h3 class="card-heading">Cita Rasa</h3>

          <p class="card-text">
            Setiap hidangan kami hadir dengan cita rasa yang otentik dan seimbang, memberikan kepuasan maksimal di setiap gigitan.
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">02</p>

          <h3 class="card-heading">Kualitas Premium</h3>

          <p class="card-text">
            Kami hanya menggunakan bahan-bahan pilihan dengan kualitas terbaik. Setiap hidangan yang kami sajikan berasal dari bahan segar dan sehat.
          </p>

        </div>

        <div class="service-card">

          <p class="card-number">03</p>

          <h3 class="card-heading">Harga Terjangkau</h3>

          <p class="card-text">
            Kami percaya bahwa makanan berkualitas tinggi tidak harus mahal. Dengan harga yang terjangkau, Anda dapat menikmati hidangan kualitas premium.
          </p>

        </div>

      </section>




      <!--
        - #ABOUT SECTION
      -->

      <section class="about" id="about">

        <div class="about-left">

          <div class="img-box">
            <img src="{% static 'image/product/p3.jpg' %}" alt="about image" class="about-img" width="250">
          </div>

          <div class="abs-content-box">
            <div class="dotted-border">
              <p class="number-lg">7</p>
              <p class="text-md">Tahun</p>
            </div>
          </div>

          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/circle.svg" alt="circle shape" class="shape shape-5" width="20">
          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/circle.svg" alt="circle shape" class="shape shape-6" width="20">
          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/ring.svg" alt="ring shape" class="shape shape-8" width="35">
          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/ring.svg" alt="ring shape" class="shape shape-9" width="80">

        </div>

        <div class="about-right">

          <h2 class="section-title">Cita Rasa Melebihi Ekspektasi</h2>

          <p class="section-text">
            Yummypiv mengedepankan makanan berkualitas dengan rasa autentik dan harga terjangkau. 
            Menggunakan bahan segar dan pilihan, kami berkomitmen untuk menghadirkan hidangan yang lezat dan memuaskan, 
            sehingga setiap pelanggan dapat menikmati pengalaman kuliner yang istimewa.
          </p>

        </div>

      </section>



      <!--
        - #PRODUCT SECTION
      -->

      <section class="product" id="menu">

        <h2 class="section-title">Pesanan paling populer</h2>

        <p class="section-text">
          Pilihan makanan dan snack paling populer. Pesan Segera!
        </p>

        <div class="products-grid">

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'image/product/p1.jpg' %}" alt="product image" class="product-img" width="200"
                  loading="lazy">
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">Dimsum</h3>

                  <p class="product-price">
                    <span class="small"></span>12k
                  </p>
                </div>

                <p class="product-text">
                  tomatoes, nori, feta cheese, mushrooms, rice noodles, corn, shrimp.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'image/product/p2.jpg' %}" alt="product image" class="product-img" width="200"
                  loading="lazy">
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">Ricebowl</h3>

                  <p class="product-price">
                    <span class="small"></span>15k
                  </p>
                </div>

                <p class="product-text">
                  tomatoes, nori, feta cheese, mushrooms, rice noodles, corn, shrimp.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>

          <a href="#">

            <div class="product-card">

              <div class="img-box">
                <img src="{% static 'image/product/p4.jpg' %}" alt="product image" class="product-img" width="200"
                  loading="lazy">
                
                <div class="card-badge green">
                  <ion-icon name="leaf"></ion-icon>
                  <p>Vegan</p>
                </div>
              </div>

              <div class="product-content">

                <div class="wrapper">
                  <h3 class="product-name">Salad Buah</h3>

                  <p class="product-price">
                    <span class="small"></span>10k
                  </p>
                </div>

                <p class="product-text">
                  tomatoes, nori, feta cheese, mushrooms, rice noodles, corn, shrimp.
                </p>

                <div class="product-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

              </div>

            </div>

          </a>


        </div>

      </section>





      <!--
        - #TESTIMONIALS SECTION
      -->

      <section class="testimonials" id="testimonials">

        <h2 class="section-title">Testimoni Pelanggan</h2>

        <p class="section-text">
          Mari simak ulasan pelanggan kami, pastikan Anda juga merasakan!
        </p>

        <div class="testimonials-grid">

          <div class="testimonials-card">

            <div class="customer-info">
              <div class="customer-img-box">
                <img src="{% static 'image/bri.jpg' %}" alt="customer image" class="customer-img" width="100"
                  loading="lazy">
              </div>
              <h5 class="customer-name">BRI Cabang Tegal</h5>
            </div>

            <p class="testimonials-text">
              `Saya sangat terkesan dengan salad segar yang saya coba di Yummypiv.
              Campuran sayuran yang crispy dan dressing yang lezat membuat setiap suapan terasa menyegarkan.
              Apalagi, tambahan alpukat dan biji bunga matahari memberikan tekstur yang sempurna.`

            </p>

            <h5 class="customer-name">- Megan Domani</h5>

          </div>

        </div>

      </section>

    </main>





    <!--
      - #FOOTER
    -->

    <footer>

      <div class="footer-wrapper">

        <a href="#">
          <img src="https://storage.googleapis.com/yummypiv-app.appspot.com/static/image/logo.png" alt="logo" class="footer-brand" width="130">
        </a>

        <div class="social-link">

          {% if facebook_state == 'true' %}
          <a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          {% endif %}

          {% if twitter_state == 'true' %}
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          {% endif %}

          {% if linkedin_state == 'true' %}
          <a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          {% endif %}
            
          {% if youtube_state == 'true' %}
          <a href="#">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
          {% endif %}
          

        </div>

        <p class="copyright">&copy; Copyright 2022 {{app_alias_name}}. All Rights Reserved.</p>

      </div>

    </footer>

  </div>





  <!--
    - custom js link
  -->
  <script src="{% static 'js/common.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>