{% load static %}
<section class="section destination" style="margin-top: 4em;" id="services">
    <div class="container" style="gap: 3em; display: flex; flex-direction: column;">

      <h2 class="" style="margin: auto; text-align: center;">Layanan Hukum </h2>

      <ul class="destination-list">

        <li>
          <a href="/services/hukum-pidana/" class="destination-card">

            <figure class="card-banner">
              <img src="{% static 'image/hukum-pidana-bg.webp' %}" width="1140" height="1100" loading="lazy"
                alt="Hukum Pidana" class="img-cover">
            </figure>

            <div class="card-content">
              <h3 class="h3 card-title">Hukum Pidana</h3>
            </div>

          </a>
        </li>

        <li>
          <a href="/services/hukum-kepailitan/" class="destination-card">

            <figure class="card-banner">
              <img src="{% static 'image/news/legal-draft.avif' %}" width="1110" height="480" loading="lazy"
                alt="Kuala Lumpur, Malaysia" class="img-cover">
            </figure>

            <div class="card-content">
              <h3 class="h3 card-title">Kasus Kepailitan</h3>
            </div>

          </a>
        </li>

        <li>
          <a href="/services/hukum-perdata/" class="destination-card">

            <figure class="card-banner">
              <img src="{% static 'image/hukum-perdata-bg.webp' %}" width="1110" height="480" loading="lazy"
                alt="Kathmandu, Nepal" class="img-cover">
            </figure>

            <div class="card-content">
              <h3 class="h3 card-title">Hukum Perdata</h3>
            </div>

          </a>
        </li>

        

      </ul>

    </div>
  </section>