{% extends 'base/base_dashboard.html' %}


{% block body %}
{% load static %}
<div class="page">
    {% include 'base/header.html' %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">

                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            YummypivGO Catering
                        </div>
                        <h2 class="page-title">
                            Dashboard
                        </h2>
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-menu-catering">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 5l0 14"></path>
                                    <path d="M5 12l14 0"></path>
                                </svg>
                                Menu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">


                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-table">
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Gambar</th>
                                            <th>Nama</th>
                                            <th>Harga Product</th>
                                            <th>Deskripsi</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody id="product-collection">

                                        {% for menu in menus %}
                                        <tr>
                                            <td class="text-secondary"><span class="avatar" style="background-image: url({{ menu.img_link }})"></span>
                                            </td>
                                            <td data-name="{{ menu.name }}">
                                                {{ menu.name }}
                                            </td>
                                            <td>
                                                {{ menu.price }}
                                            </td>
                                            <td>
                                                {{ menu.description }}
                                            </td>
                                            <td class="text-center">
                                                <span class="dropdown">
                                                    <a class="btn btn-primary bg-danger remove-btn" data-id="{{ menu.id }}">Remove</a>
                                                </span>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
    </div>
</div>


{% include 'modal/upload_menu_catering.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        var fetchManager = new FetchManager(csrfToken, true);
        document.getElementById('product-collection').addEventListener('click', function (event) {

            if (event.target.classList.contains('remove-btn')) {

                const productId = event.target.getAttribute('data-id');
                const productName = event.target.closest('tr').querySelector('td[data-name]').getAttribute('data-name');

                if (confirm('Yakin ingin menghapus product ' + productName + '?')) {
                    const formData = new FormData();
                    formData.append('menu-id', productId);

                    fetchManager.post(mLink.deleteCateringMenu, formData)
                        .then(response => {
                            const message = response.data.msg;
                            if (response.status === true) {
                                alert(message);
                                window.location.reload();
                            } else {
                                alert(message);
                            }
                            loading.hidden = true;
                        });
                }

            }
        });

    });
</script>


{% endblock body %}