{% load static %}

<div class="container-xl">
    <div class="row row-deck row-cards">


        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header justify-content-between">
                    <h3 class="card-title">Data Testimoni</h3>

                    <div class="btn-list">
                        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                            data-bs-target="#modal-testimonial">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 5l0 14"></path>
                                <path d="M5 12l14 0"></path>
                            </svg>
                            Testimonial
                        </a>
                    </div>

                </div>
                <div class="card-table">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Profile</th>
                                <th>Content</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="testimonial-collection">
                            
                            {% for testimonial in testimonials %}
                            <tr>
                                <td data-name="{{ testimonial.customer_name }}">
                                    {{ testimonial.customer_name }}
                                </td>
                                <td class="text-secondary"><span class="avatar" style="background-image: url({{ testimonial.img_link }})"></span>
                                </td>
                                <td class="text-secondary" style="max-width: 20em;">
                                    {{ testimonial.content }}
                                </td>
                                <td class="text-center">
                                    <span class="dropdown">
                                        <a class="btn btn-primary bg-danger remove-btn" data-id="{{ testimonial.id }}">Remove</a>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    {% include 'modal/upload_testimonial.html' %}
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const testimonialCollection = document.getElementById('testimonial-collection');
        testimonialCollection.addEventListener('click', function (event) {
            
            if (event.target.classList.contains('remove-btn')) {
                
                const testimonialId = event.target.getAttribute('data-id');
                const testimonialCustomerName = event.target.closest('tr').querySelector('td[data-name]').getAttribute('data-name');                

                if (confirm('Yakin ingin menghapus testimonial ' + testimonialCustomerName + '?')) {
                    const formData = new FormData();
                    formData.append('testimonial-id', testimonialId);

                    fetchManager.post(mLink.deleteTestimonial, formData)
                        .then(response => {
                            const message = response.data.msg;
                            if (response.status === true) {
                                loading.hidden = true;
                                window.location.href = mLink.menuContentManagement;
                            } else {
                                alert(message);
                            }
                        });
                }

            }
        });

    });
</script>