{% load static %}

<div class="container-xl">
    <div class="row row-deck row-cards">


        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header justify-content-between">
                    <h3 class="card-title">Etalase Toko</h3>

                    <div class="btn-list">
                        <a href="" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                            data-bs-target="#modal-product">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 5l0 14"></path>
                                <path d="M5 12l14 0"></path>
                            </svg>
                            Product
                        </a>
                    </div>

                </div>
                <div class="card-table">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>Gambar</th>
                                <th>Nama Produk</th>
                                <th>Harga Product</th>
                                <th>Deskripsi</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="product-collection">
                            
                            {% for product in products %}
                            <tr>
                                <td class="text-secondary"><span class="avatar"
                                        style="background-image: url({{ product.img_link }})"></span>
                                </td>
                                <td data-name="{{ product.product_name }}">
                                    {{ product.product_name }}
                                </td>
                                <td>
                                    {{ product.price }}
                                </td>
                                <td>
                                    {{ product.description }}
                                </td>
                                <td class="text-center">
                                    <span class="dropdown">
                                        <a class="btn btn-primary bg-danger remove-btn" data-id="{{ product.id }}">Remove</a>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'modal/upload_product.html' %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        document.getElementById('product-collection').addEventListener('click', function (event) {
            
            if (event.target.classList.contains('remove-btn')) {
                
                const productId = event.target.getAttribute('data-id');
                const productName = event.target.closest('tr').querySelector('td[data-name]').getAttribute('data-name');                

                if (confirm('Yakin ingin menghapus product ' + productName + '?')) {
                    const formData = new FormData();
                    formData.append('product-id', productId);

                    fetchManager.post(mLink.deleteProduct, formData)
                        .then(response => {
                            const message = response.data.msg;
                            if (response.status === true) {
                                alert(message);
                                window.location.href = mLink.menuContentManagement;
                            } else {
                                alert(message);
                            }
                            loading.hidden = true;
                        });
                }

            }
        });

    });
</script>